.app {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #b7def0;
}

.app h1 {
  margin-top: 2rem;
  color: #2d2d2d;
  margin-bottom: 0.5rem;
  font-size: 3rem;
  font-family: "Pacifico", cursive;
  font-weight: 400;
  font-style: normal;
}

.app h4 {
  color: #666;
  margin-bottom: 2rem;
  font-family: "Pacifico", cursive;
  font-weight: 200;
  font-style: normal;
}

.projects{
  max-width: 600px;
  margin: 2rem auto;
  padding: 1.5rem;
  background-color: #1B1B1B;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

@media (max-width:350px) {
  h1{
    font-size: 2rem;
  }
  .projects{
    max-width: 300px;
  }
}